.btn-buy-now{
    opacity: 0;
    transform: translate(-50%,50%) ;
}
.swiper-slide:hover .btn-buy-now{
    opacity: 1;
    transform: translate(-50%,-50%) ;
    transition: ease-in;
    transition-duration: 300ms;
}
.slide-img img{
    box-shadow: 2px 3px 5px -1px #00000085;
}
.swiper-slide:hover::before{
    background-color: #0000006b;
}
.swiper-slide:hover .text-price{
    opacity: 0.5;
}
.swiper-slide:hover .text-title{
    opacity: 0.5;
}
.swiper-slide:hover .rating{
    opacity: 0.5;
}
.swiper-slide{
    width: 20rem !important;
    height: 25rem !important;
} 
 @media (max-width:768px) {
    .swiper-slide {
    width: 15rem !important;
    height: 20rem !important;
  }
} 
.swiper-pagination {
    position: relative;
    bottom: 0 !important;
    filter: drop-shadow(2px 4px 6px black);
    margin-top: 15px;
    cursor: default;
}
.swiper-pagination .swiper-pagination-bullet{
    height: 14px;
    width: 14px;
    cursor: pointer;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #e7b430a8;
}